---
import CallToAction from './Aside.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear}
         - 框架 <a href="https://astro.build/">Astro</a>
         - 主题 <a href="https://github.com/markteekman/accessible-astro-starter">Accessible Astro Starter</a>
         - 播放器 <a href="https://plyr.io/">Plyr</a>
         - 文本转语音 <a href="https://azure.microsoft.com/zh-cn/products/ai-services/text-to-speech">Azure</a>
      </p>
    </div>
  </section>
</footer>
